[submodule "loader"]
	path = loader
	url = https://github.com/binary-rusty-hermit/rusty-loader.git
[submodule "libhermit-rs"]
	path = libhermit-rs
	url = https://github.com/binary-rusty-hermit/libhermit-rs.git
